.butw {
  margin-left: 5em;
  display: flex;
  flex-direction: row;
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
}
@media (max-width: 790px) {
  .butw {
    flex-direction: column-reverse;
  }
}

.butwScreen {
  margin-left: 5em;
  display: flex;
  flex-direction: row;
  opacity: 0.06;
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
}
@media (max-width: 790px) {
  .butwScreen {
    flex-direction: column-reverse;
  }
}

.butw-text {
  font-family: "Cormorant", serif;
  text-align: right;
  width: 30%;
  padding-right: 2em;
}

@media (max-width: 790px) {
  .butw-text {
    width: 100%;
    padding: 0;
    text-align: left;
  }
}

.butw-img img {
  width: 100%;
  max-width: 999px;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.soundCloud {
  overflow: hidden;
  padding-top: 2em;
}
