.photos {
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
}

.photosScreen {
  opacity: 0.06;
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
}

.photo-grid {
  margin-left: 2vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
}
@media (max-width: 1250px) {
  .photo-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 975px) {
  .photo-grid {
    margin-left: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
}
@media (max-width: 790px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
  }
}
@media (max-width: 425px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2px;
  }
}
@media (max-width: 375px) {
  .photo-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2px;
  }
}

.modalImage {
  cursor: pointer;
  margin: 0 1rem;
  z-index: 999999999;
}
