@import url("https://fonts.googleapis.com/css?family=EB+Garamond&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cormorant&display=swap");

@media only screen and (min-width: 871px) {
  .nameAfter {
    font-family: "EB Garamond", serif;
    font-size: 8em;
    overflow-wrap: break-word;
    background-clip: text;
    transition: all 0.6s ease;
    background: -moz-linear-gradient(#eee, #333);
    background: -webkit-linear-gradient(#eee, #333);
    background: linear-gradient(#eee, #333);
    background-clip: text;
    -webkit-background-clip: text;
    color: rgb(233, 233, 233);
    -webkit-transition: all 0.6s ease;
  }
}

@media only screen and (min-width: 871px) {
  .name {
    font-family: "EB Garamond", serif;
    font-size: 8em;
    overflow-wrap: break-word;
    background: -moz-linear-gradient(#eee, rgb(41, 170, 255));
    background: -webkit-linear-gradient(#eee, rgb(41, 170, 255));
    background: linear-gradient(#eee, rgb(41, 170, 255));
    background-clip: text;
    -webkit-background-clip: text;
    color: linear-gradient(#eee, rgb(41, 170, 255));
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
  }
}

@media only screen and (max-width: 870px) {
  .nameAfter {
    font-family: "EB Garamond", serif;
    font-size: 4em;
    overflow-wrap: break-word;
    color: rgb(167, 167, 167);
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
  }
}
@media only screen and (max-width: 870px) {
  .name {
    font-family: "EB Garamond", serif;
    font-size: 4em;
    overflow-wrap: break-word;
    color: #000;
    transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
  }
}

.nameTag {
  font-family: "Cormorant", serif;
  position: absolute;
  z-index: -1;
}
@media only screen and (max-width: 870px) {
  .nameTag {
    margin-top: 35%;
  }
}

#tagBefore {
  color: #000;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

#tagAfter {
  color: rgb(167, 167, 167);
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}
