.mixes {
  margin-left: 0;
  display: flex;
  flex-direction: row;
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
}
@media (max-width: 790px) {
  .mixes {
    flex-direction: column-reverse;
  }
}

.mixesScreen {
  margin-left: 0;
  display: flex;
  opacity: 0.06;
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
}
@media (max-width: 790px) {
  .mixesScreen {
    flex-direction: column-reverse;
  }
}

.mixes-text {
  font-family: "Cormorant", serif;
  padding-left: 3em;
}

@media (max-width: 790px) {
  .mixes-text {
    width: 100%;
    padding: 0;
  }
}

.mixes-img img {
  width: 100%;
  max-width: 999px;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.soundCloud {
  overflow: hidden;
  padding-top: 2em;
}
@media (max-width: 490px) {
  .soundCloud {
    width: 390px;
  }
}
@media (max-width: 390px) {
  .soundCloud {
    width: 360px;
  }
}

.soundCloud img {
  max-width: 100%;
}
/* @media (max-width: 490px) {
  .soundCloud img {
    width: 300px;
  }
}
@media (max-width: 390px) {
  .soundCloud img {
    width: 200px;
  }
} */

.mixesContent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-basis: 100%;
}
@media (max-width: 790px) {
  .mixesContent {
    flex-direction: column-reverse;
  }
}

.text-column {
  flex: 1;
  margin-right: 5em;
  width: 20em;
}
@media (max-width: 790px) {
  .text-column {
    margin-right: 0em;
    width: 100%;
  }
}

.music-column {
  flex: 1;
}

.button {
  cursor: pointer;
}
