.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 12vh;
  font-size: 5rem;
  color: rgba(255, 255, 255, 0.72);
}

.Container span {
  cursor: pointer;
}

.Container span:hover {
  color: rgba(255, 255, 255, 0.92);
}

.Overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 790px) {
  .Overlay {
    top: -28px;
    left: -8px;
    width: calc(100% + 8px);
    height: calc(100% + 38px);
  }
}
