.stress {
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
}

.stressScreen {
  opacity: 0.3;
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
}

.stress-container {
  display: inline-flex;
  flex-direction: row;
}
@media (max-width: 768px) {
  .stress-container {
    flex-direction: column;
    margin-left: 5em;
  }
}

.stress-image1 img {
  max-height: 700px;
}
@media (max-width: 768px) {
  .stress-image1 img {
    max-width: 350px;
  }
}
@media (max-width: 525px) {
  .stress-image1 img {
    max-width: 270px;
  }
}

.stress-text {
  font-family: "Cormorant", serif;
  text-align: left;
  min-width: 100px;
  margin-left: 1em;
  margin-right: 1em;
}
@media (max-width: 768px) {
  .stress-text {
    width: 350px;
    margin-top: 0;
    padding-left: 0;
  }
}
@media (max-width: 525px) {
  .stress-text {
    width: 270px;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
  }
}
