.welcome {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
}
@media (max-width: 1200px) {
  .welcome {
    flex-direction: column;
    margin-left: 12%;
  }
}

.welcomeScreen {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  opacity: 0.06;
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
}
@media (max-width: 1200px) {
  .welcomeScreen {
    flex-direction: column;
    margin-left: 12%;
  }
}

.welcome-text {
  position: relative;
  width: 50%;
  top: 0;
  padding: 0 1em 0 2em;
}
@media (max-width: 1200px) {
  .welcome-text {
    max-width: 90vw;
    min-width: 70vw;
    padding: 0 1em 0 0em;
  }
}

.welcomePop {
  font-family: "Cormorant", serif;
  cursor: pointer;
  background: rgba(228, 228, 228, 0.205);
  border: 0.02px solid rgba(46, 46, 46, 0.365);
  padding: 0.2em;
  width: 40%;
  text-align: center;
}

.welcomePop:hover {
  color: #ffffff;
  background: #198822;
  border: 0.02px solid #198822;
}

.popClicked {
  font-family: "Cormorant", serif;
  color: #198822;
  cursor: pointer;
  background: transparent;
  border: 0.02px solid rgb(0, 0, 0);
  border-bottom: none;
  padding: 0.2em;
  width: 40%;
  text-align: center;
}

#welcomeHead {
  font-family: "Cormorant", serif;
}
